

.container-header {
background-color: rgb(51, 10, 99) !important;
    
    height: 82px;
    padding-top: 2px;
}

.container-header img{

        width: 170px;
    height: 141px;
    margin-left: 150px;
    margin-top: -40px;
}

