footer {
  
background-color: #000000;
  color: #ffffff; /* Makes all footer text white */
  font-size: large;

}

footer .footer > div {
  margin: auto;
  max-width: 429px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
